

@font-face {
    font-family: 'Tech';
    src: url('ShareTech-Regular.ttf') format('truetype');
  }
  
  .container {
    font-family: 'ShareTech-Regular', sans-serif;
  }
  
  .heading {
    font-family: 'ShareTech-Regular', sans-serif;
    font-size: 24px;
  }
  